body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    background-color: #001f5b;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0;
    overflow: hidden;
    
}

li {
    float: left;
    margin-right: 5px;
    background-color: #c7231f;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #a72325;
}

li a.tab {
    background-color: #001f5b;
}

li a.tab:hover {
    background-color: #001235;
}

.hoverbox {
    opacity: 0;
}

.main {
    width: 85%;
    margin: auto;
    background-color: #ffffff;
    border: 1px solid #ddd;
    padding: 10px;
}

/* table,td,th {
    border: 1px solid #dddddd;
} */

td,th {
    height: 20px;
    padding: 5px;
}

th {
    background-color: #c7231f;
    color: white;
}

.box {
    border: 1px solid #ddd;
    width: 50%;
    /*float: left;*/
    margin: 10px;
    padding: 5px;
}

.header {
    width: 100%;
    text-align: center;
}

.svgheader {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

th.name {
    width: 15%;
    min-width: 135px;
}

td.salary,td.status {
    width: 7.5%;
    min-width: 67.5px;
    text-align: center;
}

td.breakdown {
    width: 70%;
    min-width: 630px;
    padding: 0px 10px;
}

td.years {
    width: 14%;
    min-width: 126px;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #eeeeee;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

tr:hover {
    background-color: #dddddd;
}

div.tables {
    overflow-x: auto;
}

* {
    box-sizing: border-box;
}
  
.row::after {
    content: "";
    clear: both;
    display: table;
}
  
[class*="col-"] {
    float: left;
    padding: 5px;
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}